<%- include('../partials/header.ejs') %>

<h1><%= word.name %></h1>
<form action="/words/<%= word._id %>/meanings/<%= meaning._id %>?_method=PUT" method="POST">
        <label for="explanation">You can update it in here:</label>
        <input type="text" id="explanation" name="explanation" value="<%= meaning.explanation %>">
        <label for="image">You can add a Image URL(optional):</label>
        <input type="url" id="image" name="image" value="<%= meaning.image %>">
    <button type="submit">Update</button>
</form>

<%- include('../partials/footer.ejs') %>