<%- include('../partials/header.ejs') %>

<h1>Word Details</h1>

    <h2><%= word.name %></h2>
    <div class="word-details-container">
        <% word.meanings.forEach((meaning, index) => { %>
            <div class="meaning-block">
                
                    <p>Explanation: <%= meaning.explanation %></p>
                    <% if (meaning.image) { %>
                        <img src="<%= meaning.image %>" alt="<%= word.name %> image" style="max-width: 200px;">
                    <% } %>
                    <% if (meaning.contributor && meaning.contributor._id.toString() === userId){ %>
                        <button type="submit"><a href="/words/<%= word._id %>/meanings/<%= meaning._id%>/edit">Edit</a></button>
                    <% } else { %>
                        <p class="text-muted">Only creater can tweek the word!</p>
                    <% } %>
            </div>    
       <% }) %>
    </div>
    <form action="/words/<%= word._id %>?_method=DELETE" method="POST">
        <button type="submit">Remove from My Shelf</button>
    </form>
    
   
<%- include('../partials/footer.ejs') %>