<%- include('../partials/header.ejs') %>

<h1>Word Details</h1>
<div>
    <h2><%= word.name %></h2>
    <ul>
        <% word.meanings.forEach((meaning) => { %>
            <li>
                <p><strong>Explanation:</strong> <%= meaning.explanation %></p>
                <% if (meaning.image) { %>
                    <img src="<%= meaning.image %>" alt="<%= word.name %> image" style="max-width: 200px;">
                <% } %>
                <% if ( word.owner && word.owner._id &&
                meaning.contributor && meaning.contributor._id &&
                meaning.contributor._id.toString() === userId){ %>
                    <button type="submit"><a href="/words/<%= word._id %>/edit">Edit</a></button>
                <% } %>

                </li>
       <% }) %>
    </ul>
    <form action="/words/<%= word._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
    
   
<%- include('../partials/footer.ejs') %>