<%- include('./partials/header.ejs') %>
<h1>Home</h1>

<form action="/" method="GET" >
  <input type="text" name="word" placeholder="Search for a word..." value="<%= searchedItem %>">
  <button type="submit">Search</button>
</form>

<% if (searchedItem) { %>
  <% if (word) { %>
    <h2>Ta-da! We found it:</h2>
    <p><a href="/community/<%= word._id %>"><%= word.name %></a></p>
  <% } else { %>
    <h2>Hmm... "<%= searchedItem %>" isn’t in the dictionary yet. Sign in and let the word-building begin!</h2>
  <% } %>
<% } else { %>
  <h2>Look it up first—your brilliant word might already exist!</h2>
<% } %>

<%- include('./partials/footer.ejs') %>

