<%- include('./partials/header.ejs') %>
<h1 style="color: rgb(41, 216, 41);font-weight: bold;"> Word Quest</h1>
<img src="/css/homepage.jpg" width="400px" height="300px" alt="colorful books">
<form action="/" method="GET" class="my-4" >
  <input type="text" name="word" placeholder="Looking for a word ..." value="<%= searchedItem %>" >
  <button type="submit" style="width: 100px;" >Search</button>
</form>

<% if (searchedItem) { %>
  <% if (word) { %>
    <div class="text-dark fs-4 fw-bold">Ta-da! We found it:</div>
    <h2><a href="/community/<%= word._id %>"><%= word.name %></a></h2>
  <% } else { %>
    <div class="text-dark fs-4 fw-bold">Hmm... "<%= searchedItem %>" isn’t in the dictionary yet. Sign in and let the word-building begin!</h2>
  <% } %>
<% } else { %>
  <div class="text-dark fs-4 fw-bold">Discover shared wisdom—search the word first.</div>
<% } %>

<%- include('./partials/footer.ejs') %>

