<%- include('../partials/header.ejs') %>

<h1>Word Junction</h1>
<div class="meaning-container">
    <% if (words.length){ %>
      <% words.forEach((word) => { %>
        <div class="word-block">
          <h2><%= word.name.toUpperCase() %></h2>
          <p class="created-by">Created by <%= word.owner.name %> on <%= word.owner.createdAt.toLocaleDateString() %></p>
  
          <% word.meanings.forEach((meaning) => { %>
            <div class="meaning-block">
              <p>
                Explanation: <%= meaning.explanation %> 
                <% if (meaning.contributor) { %>
                  <br>Contributed by <%= meaning.contributor.name %> on <%= meaning.contributor.createdAt.toLocaleDateString() %>
                <% } %>
              </p>
              <% if (meaning.image) { %>
                <img src="<%= meaning.image %>" alt="<%= word.name %> image">
              <% } %>
            </div>
          <% }) %>
        </div>
      <% }); %>
    <% } else { %>
      <p>Contribute to our community by signing up!</p>
    <% } %>
  </div>

<%- include('../partials/footer.ejs') %>