<%- include('../partials/header.ejs') %>

<h1>Word Junction</h1>
<% if (words.length){ %>
    <% words.forEach((word) => { %>
        <h2 class="my-4"><%= word.name.toUpperCase() %></h2>
          <p>Created by <%= word.owner.name%> on <%= word.owner.createdAt.toLocaleDateString() %></p>
            <% word.meanings.forEach((meaning) => { %>
                    <p><strong>Explanation:</strong> <%= meaning.explanation %> 
                        <% if (meaning.contributor) { %>
                            , contributed by <%= meaning.contributor.name %> on <%= meaning.contributor.createdAt.toLocaleDateString() %>
                        <% } %>
                    </p>
                    <% if (meaning.image) { %>
                        <img src="<%= meaning.image %>" alt="<%= word.name %> image" style="max-width: 200px;">
                    <% } %>
           <% }) %>

           </ul>   
   <% }); %>

<% } else {%>
    <p>Contribute to our community by signing up!</p>

<% } %>
<%- include('../partials/footer.ejs') %>