<%- include('../partials/header.ejs') %>

<h1>Word Details</h1>
    <h2><%= word.name %></h2>
    <div class="word-details-container">
        <% word.meanings.forEach((meaning) => { %>
            <div class="meaning-block">
                    <p>Explanation: <%= meaning.explanation %></p>
                    <% if (meaning.image) { %>
                        <img src="<%= meaning.image %>" alt="<%= word.name %> image" style="max-width: 200px;">
                    <% } %>
            </div>      
       <% }) %>
       
    </div>
    <button type="submit"><a href="/community/<%= word._id  %>/new">Add Explanation</a></button>
    <form action="/community/<%= word._id %>/dictionary" method="POST">
    <button type="submit">Add to My Word Bank</button>
    </form>    

<%- include('../partials/footer.ejs') %>